{% extends 'base.html' %}

{% block title %}Home Food Helper{% endblock title %}

{% block content %}
    <main>
        <div>
            <div>
                <h1 class="page-title">Home Food Helper</h1>
                <h3 style="margin-bottom: 30px;">Make a selection from the options below:</h3>
            </div>
        </div>
        <div class="home-grid">
            <div>
                <a href="{% url 'inventory_list' %}">
                <img src="https://media.istockphoto.com/id/1206490920/vector/preserves-seamless-pattern.jpg?s=612x612&w=0&k=20&c=jyPAgj9znhOmUzEZcC2s6IYR9p4CaIakzL5UL-qudBQ=" alt="fully stocked fridge and pantry">
                <div class="home-details">
                    <h2>Home Inventory</h2>
                    <hr class="short-blue-line">
                    <p>
                        Track all foods currently in your home's various locations.
                    </p>
                </div>
                </a>
            </div>
            <div>
                <a href="{% url 'my_recipe_list' %}">
                <img src="https://healthmylifestyle.com/wp-content/uploads/2021/01/vegan-meal-prep-for-beginners.jpg" alt="fully stocked fridge and pantry">
                <div class="home-details">
                    <h2>Your Recipes</h2>
                    <hr class="short-blue-line">
                    <p>
                        View all the recipes you've added, recipes available to you via your current inventory, and recipes added by other users!
                    </p>
                </div>
                </a>
            </div>
        </div>
    </main>
{% endblock content %}