{% extends 'base.html' %}

{% block title %}Create New Recipe{% endblock title %}

{% block content %}
    <main>
        <h1 class="page-title">Create a Recipe</h1>
        <div class="sub-nav">
            <div>
                <a class="nav-link" href="{% url 'my_recipe_list' %}">My Recipes</a>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </main>
{% endblock content %}