{% extends 'base.html' %}

{% block title %}{{recipe_object.title}} - Home Recipes{% endblock title %}

{% block content %}
    <main>
        <div class="page-title">
            <h1>{{ recipe_object.title }}</h1>
            <h2>Recipe Total Calories Per Seving: {{ recipe_object.total_calories }}</h2>
            <h2>Recipe Total Cost Per Serving: ${{ recipe_object.total_cost|floatformat:2 }}</h2>
            <h3>Created on: {{ recipe_object.created_on|date:"F j, Y" }}</h3>
        </div>
        <div class="sub-nav">
            <div>
                <a class="nav-link" href="{% url 'my_recipe_list' %}">My Recipes</a>
            </div>
        </div>
        <div class="recipe-detail-grid">
            <div class="detail-image">
                <img src="{{recipe_object.picture}}" alt="3 vegetarian tacos on a grey wood background surounded by various ingrediants">
                <div>
                    <p>
                        {{recipe_object.rating}} stars
                    </p>
                </div>
            </div>
            <div class="recipe-detail-description">
                <h2>Description</h2>
                <hr class="short-blue-line">
                <p>
                    {{recipe_object.description}}
                </p>
                <div class="recipe-intredisteps">
                    <div class="recipe-detail-ingrediants">
                        <h2>Ingredients</h2>
                        <table>
                            <thead>
                                <tr>
                                    <td><b>Food Item</b></td>
                                    <td class="center"><b>Amount Needed</b></td>
                                    <td class="center"><b>Amount Available</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ingredient in recipe_object.ingredients.all %}
                                <tr>
                                    <td>{{ ingredient.food_item }}</td>
                                    <td class="center">{{ ingredient.amount }}</td>
                                    {% if ingredient.amount > ingredient.food_item.remaining_servings %}
                                    <td class="center" style="color: #fff; background-color: red; font-weight: bold;"><i>{{ ingredient.food_item.remaining_servings }}</i></td>
                                    {% else %}
                                    <td class="center">{{ ingredient.food_item.remaining_servings }}</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="recipe-detail-steps">
                        <h2>Steps</h2>
                        <ol>
                            {% for step in recipe_object.steps.all %}
                            <li>{{ step.instruction }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
                <h3>Cook This Recipe:</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Submit</button>
                </form>
                <button class="default-button">
                    <a style="color: white;" href="{% url 'edit_recipe' id=recipe_object.id %}">Edit Recipe</a>
                </button>
            </div>
        </div>
    </main>
{% endblock content %}