{% extends 'base.html' %}

{% block title %}Edit {{recipe_object.title}} - Home Recipes{% endblock title %}

{% block content %}
    <main>
        <h1 class="page-title">Edit {{ recipe_object.title }}</h1>
        <div class="sub-nav">
            <div>
                <a class="nav-link" href="{% url 'my_recipe_list' %}">My Recipes</a>
            </div>
        </div>
        <div class="edit-grid">
            <div class="edit-image">
                <img src="{{recipe_object.picture}}" alt="3 vegetarian tacos on a grey wood background surounded by various ingrediants">
            </div>
            <div class="edit-form">
                <form method="post">
                    {% csrf_token %}
                    {{ recipe_form.as_p }}
                    <button>Update</button>
                </form>
            </div>
        </div>
    </main>
{% endblock content %}