{% extends 'base.html' %}

{% block title %}Home Recipes{% endblock title %}

{% block content %}
    <main>
        <h1 class="page-title">{{ page_title }}</h1>
        <div class="sub-nav">
            <div>
                <a class="nav-link" href="{% url 'create_recipe' %}">Add Recipe</a>
            </div>
            <div>
                <a class="nav-link" href="{% url 'my_recipe_list' %}">Your Recipes</a>
            </div>
            <div>
                <a class="nav-link" href="{% url 'available_recipes' %}">Available Recipes</a>
            </div>
            <div>
                <a class="nav-link" href="{% url 'recipe_list' %}">All User Recipes</a>
            </div>
        </div>
        <div class="container perspective">
            {% for recipe in recipe_list %}
            <div class="{% cycle 'recipe-card' 'recipe-card' 'wacky-recipe-card' %}">
                <h3 class="recipe-title"><a href="{% url 'show_recipe' recipe.id %}">{{recipe.title}}</a></h3>
                <a href="{% url 'show_recipe' recipe.id %}"><img id="list-image" src="{{recipe.picture}}" alt="3 vegetarian tacos on a grey wood background surounded by various ingrediants"></a>
                <a href="{% url 'show_recipe' recipe.id %}">
                <div class="meta">
                    <p>
                        {{recipe.rating}} stars
                    </p>
                    <p>
                        Created on: {{ recipe.created_on|date:"M j Y" }}
                    </p>
                </div>
                </a>
            </div> 
            {% endfor %}
        </div>
    </main>
{% endblock content %}