{% extends 'base.html' %}

{% block title %}Add Product{% endblock title %}

{% block content %}
    <main>
        <h1 class="page-title">Add Product</h1>
        <div class="sub-nav">
            <div>
                <a class="nav-link" href="{% url 'add_food' %}">Add Food</a>
            </div>
            <div>
                <a class="nav-link" href="{% url 'add_product' %}">ADD PRODUCT</a>
            </div>
            <div>
                <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>
            </div>
            <div>
                <a class="nav-link" href="{% url 'add_location' %}">Add Location</a>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Add</button>
        </form>
    </main>
{% endblock content %}