{% extends 'base.html' %}

{% block title %}{{food_item.title}} - Home Inventory{% endblock title %}

{% block content %}
    <main>
        <div class="detail-title">
            <div>
                <h1>{{food_item.food}}</h1>
                <h3>Added on: {{ food_item.date_added|date:"F j, Y" }}</h3>
            </div>
            <a id="edit-food" href="{% url 'edit_food' id=food_item.id %}">EDIT {{ food_item.food|upper }}</a>
        </div>
        <div class="detail-grid">
            <div class="detail-general">
                <h2>General Information</h2>
                <hr class="short-blue-line">
                <p>
                    Category: {{ food_item.category }}
                </p>
                <p>
                    Remaining Servings: {{ food_item.remaining_servings }}
                </p>
                <p>
                    Expires On: {{ food_item.expiration }}<br>Expires In: {{ food_item.expiration|timeuntil }}
                </p>
            </div>
            <div class="detail-location">
                <h2>Location Data</h2>
                <hr class="short-blue-line">
                <p>
                    Current Location: {{ food_item.location }}
                </p>
                {% if food_item.exact_location %}
                <p>
                    Exact Location Details: {{ food_item.exact_location }}
                </p>
                {% endif %}
                <p>
                    Time in {{ food_item.location }}: {{ food_item.date_added|timesince }}
                </p>
            </div>
            <div class="detail-cost">
                <h2>Cost Data</h2>
                <hr class="short-blue-line">
                <p>
                    Total Cost: ${{ food_item.cost|floatformat:2 }}
                </p>
                <p>
                    Cost Per Serving: ${{ food_item.cost_per_serving|floatformat:2 }}
                </p>
                <p>
                    Current Value: ${{ food_item.current_value|floatformat:2 }}
                </p>
            </div>
            <div class="detail-calories">
                <h2>Calorie Data</h2>
                <hr class="short-blue-line">
                <p>
                    Total Calories: {{ food_item.total_calories }}
                </p>
                <p>
                    Calories Per Serving: {{ food_item.calories_per_serving }}
                </p>
                <p>
                    Remaining Calories: {{ food_item.remaining_calories }}
                </p>
            </div>
        </div>
    </main>
{% endblock content %}