{% extends 'base.html' %}

{% block title %}Home Food Inventory{% endblock title %}

{% block content %}
    <main>
        <h1 class="page-title">Home Food Inventory</h1>
        <div class="sub-nav">
            <div>
                <a class="nav-link" href="{% url 'add_food' %}">Add Food</a>
            </div>
            <div>
                <a class="nav-link" href="{% url 'add_product' %}">Add Product</a>
            </div>
            <div>
                <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>
            </div>
            <div>
                <a class="nav-link" href="{% url 'add_location' %}">Add Location</a>
            </div>
        </div>
        <div class="table">
            <div class="tableHead">
                <a href="{% url 'inventory_filter' filter='food' %}"><div class="tableCellHead">Name</div></a>
                <a href="{% url 'inventory_filter' filter='location' %}"><div class="tableCellHead">Location</div></a>
                <a href="{% url 'inventory_filter' filter='category' %}"><div class="tableCellHead">Category</div></a>
                <a href="{% url 'inventory_filter' filter='cost' %}"><div class="tableCellHead">Cost</div></a>
                <a href="{% url 'inventory_filter' filter='expiration' %}"><div class="tableCellHead">Expiration</div></a>
                <a href="{% url 'inventory_filter' filter='remaining_servings' %}"><div class="tableCellHead">Remaing Servings</div></a>
                <a href="{% url 'inventory_filter' filter='exact_location' %}"><div class="tableCellHead">Remaining Value</div></a>
                <div class="tableCellHead"><p>Delete</p></div>
            </div>
            {% for food in food_list %}
            <a class="tableRow" href="{% url 'food_detail' id=food.id %}">
                <div class="tableCell">{{ food.food }}</div>
                <div class="tableCell">{{ food.location }}</div>
                <div class="tableCell">{{ food.category }}</div>
                <div class="tableCell">${{ food.cost|floatformat:2 }}</div>
                <div class="tableCell">{{ food.expiration|date:"m/j/y" }}</div>
                <div class="tableCell">{{ food.remaining_servings }}</div>
                <div class="tableCell">${{ food.current_value|floatformat:2 }}</div>
                <div class="tableCell">
                    <form action="{% url 'delete_food' id=food.id %}" method="post">
                        {% csrf_token %}
                        <button class="delete-button" type="submit">
                            DELETE
                        </button>
                    </form>
                </div>
            </a>
            {% empty %}
            <p>No groceries saved. Add some now!</p>
            {% endfor %}
        </div>
        <div class="mobile-table">
            <!-- <div class="tableHead">
                <a href="{% url 'inventory_filter' filter='food' %}"><div class="tableCellHead">Name</div></a>
                <a href="{% url 'inventory_filter' filter='location' %}"><div class="tableCellHead">Location</div></a>
                <a href="{% url 'inventory_filter' filter='category' %}"><div class="tableCellHead">Category</div></a>
                <a href="{% url 'inventory_filter' filter='cost' %}"><div class="tableCellHead">Cost</div></a>
                <a href="{% url 'inventory_filter' filter='expiration' %}"><div class="tableCellHead">Expiration</div></a>
                <a href="{% url 'inventory_filter' filter='remaining_servings' %}"><div class="tableCellHead">Remaing Servings</div></a>
                <a href="{% url 'inventory_filter' filter='exact_location' %}"><div class="tableCellHead">Remaining Value</div></a>
                <div class="tableCellHead"><p>Delete</p></div>
            </div> -->
            {% for food in food_list %}
            <a class="mobileTableRow" href="{% url 'food_detail' id=food.id %}">
                <div class="mobileTableCell"><h3>Name: {{ food.food }}</h3></div>
                <div class="mobileTableCell">Location: {{ food.location }}</div>
                <div class="mobileTableCell">Category: {{ food.category }}</div>
                <div class="mobileTableCell">Cost: ${{ food.cost|floatformat:2 }}</div>
                <div class="mobileTableCell">Expiration: {{ food.expiration|date:"m/j/y" }}</div>
                <div class="mobileTableCell">Remaining Servings: {{ food.remaining_servings }}</div>
                <div class="mobileTableCell">Remaining Value: ${{ food.current_value|floatformat:2 }}</div>
                <div class="mobileTableCell">
                    <form action="{% url 'delete_food' id=food.id %}" method="post">
                        {% csrf_token %}
                        <button class="delete-button" type="submit">
                            DELETE
                        </button>
                    </form>
                </div>
            </a>
            {% empty %}
            <p>No groceries saved. Add some now!</p>
            {% endfor %}
        </div>
    </main>
{% endblock content %}