@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;
  }

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #006980;
}

nav {
    max-width: 1300px;
    padding: 10px 100px;
    margin: 0 auto 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2.5%;
    align-items: center;
    color: #ffffff;
}

nav a {
    color: #ffffff;
    text-decoration: 1px underline;
}

main {
    max-width: 1300px;
    padding: 0px 100px;
    margin: 0 auto;
}

.sub-nav {
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin: 0px 0px 30px 0px;
}

 .page-title {
    margin: 10px 0px 30px 0px;
} 


/* Home Page Styling */

.home-grid  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10%;
}

.home-grid img {
    width: 100%;
}

.home-grid a {
    color: inherit;
    text-decoration: none;
}

.home-grid div {
    transition: all 0.3s ease;
}

.home-grid div:hover {
    background-color: #c2e0e6;
}

.home-details {
    padding: 10px 30px;
}

/* END Home Page Styling */

/* Added styles for list page table */
.table {
    border-collapse: collapse;
  }

.mobile-table {
    display: none;
}

  
.tableHead {
    display: grid;
    text-decoration: none;
    color: #ffffff;
    grid-template-columns: repeat(8, 1fr);
    place-items: center;
    border-bottom: none;
    cursor: pointer;
    text-align: center;
    background-color: #800037;
}

.tableRow {
    display: grid;
    text-decoration: none;
    color: inherit;
    grid-template-columns: repeat(8, 1fr);
    place-items: center;
    border-bottom: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;

    &:last-child {
        border-bottom: 1px solid #eeeeee;
    }
}

.mobileTableRow {
    text-decoration: none;
    color: inherit;
    place-items: center;
    border-bottom: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    padding-top: 20px;
}


.tableRow:nth-child(odd), .mobileTableRow:nth-child(odd) {
    background-color: #eeeeee;
}

.tableRow:hover, .mobileTableRow:hover {
    background-color: #c2e0e6;
}
  
.tableCellHead {
    padding: 10px;
    color: #ffffff;
    text-decoration: inherit;
}

.tableCell {
    padding: 18px;
}

.mobileTableCell {
    padding: 5px;
}

.delete-button {
    background-color: #888;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
}

.delete-button:hover {
    background-color: red;
    padding: 8px 12px;
    font-size: 14px;
}
/* END List Page Grid Styles */

/* Detial Page Styles */
.detail-title {
    background-color: #800037;
    color: #ffffff;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

#edit-food {
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 20px;
    border: none;
    font-size: 15px;
    transition: all 0.3s ease;
    text-decoration: inherit;
    color: #333333;
    background-color: #EEEEEE;
    margin: auto 0px;
}

#edit-food:hover {
    background-color: #c2e0e6;
}

.detail-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.detail-grid p {
    margin: 2em 0px;
}

.detail-grid > div {
    padding: 20px 30px;
}

.detail-general {
    background-color: #eeeeee;
}

.detail-location {
    background-color: #e5e5e5;
}

.detail-cost {
    background-color: #e0e0e0;
}

.detail-calories {
    background-color: #dddddd;
}

.short-blue-line {
    width: 100px;
    height: 5px;
    margin: 10px 0px;
    background-color: #006980;
}
/* END Detail Page Styles */

/* Mobile Responsiveness */
@media (max-width: 1000px) {
    /* Home Page Mobile Responsivness */
    .home-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    /* Inventory List Page */
    .table {
        display: none;
    }
    
    .mobile-table {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .recipe-detail-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "detail-image detail-description"
            "detail-ingrediants detail-steps";
    }
}

@media (max-width: 700px) {
    .mobile-table {
        grid-template-columns: repeat(1, 1fr);
    }

    .detail-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* END Mobile Responsivness */