{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    </head>
    <body>
        <header>
            {% if user.is_authenticated %}
            <nav>
                <div>
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </div>
                <div>
                    <a class="nav-link" href="{% url 'inventory_list' %}">Inventory</a>
                </div>
                <div>
                    <a class="nav-link" href="{% url 'my_recipe_list' %}">Recipes</a>
                </div>
                <div>
                    <p>Hello, {{ user.username }}</p>
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </div>
            </nav>
            {% else %}
            <nav class="unauth-nav-grid">
                <div>
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </div>
                <div>
                    <a class="nav-link" href="{% url 'signup' %}">Signup</a>
                </div>
            </nav>
            {% endif %}
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
